<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="/dist/detail.js" type="module"></script>
    <title>Detail page</title>
  </head>
  <body>
    <!--Sidenav-->
    <nav class="navbar navbar" style="background-color: #d3e5f6">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <img
            src="/assets/resources/app_icon_circle.png"
            alt=""
            width="40"
            height="35"
          />
        </a>
        <h1 style="text-align: left; color: steelblue">TOP VSC Extensions</h1>
        <span class="navbar-text">
          <h2>
            <a href="list"
              ><i class="bi bi-chevron-left" style="color: slategray"></i
            ></a>
          </h2>
        </span>
      </div>
    </nav>
    <!-- Title section-->
    <h3 id="titlesection">{{ selectedExtension.extName }}</h3>
    <div id="detailExtension">
      <div class="col">
        <!-- Author section -->
        <div id="authorsection">
          <p id="extAuthor">{{ selectedExtension.extAuthor }}</p>
        </div>
        <!--Email section-->
        <div id="emailsection">
          <p id="extAuthor">{{ selectedExtension.extEmail }}</p>
        </div>
        <!--Image section -->
        <div id="imagesection" class="img-container">
          <img
            id="image"
            src="/assets/images/{{ selectedExtension.extImg }}"
            alt="extension image"
          />
        </div>
        <!--Description section-->
        <div id="descriptionsection" class="row pt-5 pl-4 pr-4 m-3">
          <textarea id="description" readonly="readonly" rows="5">{{
            selectedExtension.extDescription
          }}</textarea>
        </div>
        <!-- Downloads & Rating section-->
        <div class="row p-5">
          <div id="downloads" class="col-8">
            Downloads:
            {{ selectedExtension.extDownloads }}
          </div>
          <div id="rating" class="col-4">
            Rating: {{ selectedExtension.extRating }}
          </div>
        </div>
        <!--Favorites section-->
        <div id="favoritesection" class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            value=""
            id="favoriteChek"
            formContolName="extensionFavForm"
            [checked]="checkedFav"
          />
          <label class="form-check-label" for="flexCheckDefault">
            Favorite
          </label>
        </div>
      </div>
    </div>
    <!--Footer section-->
    <div id="footersection" class="footer">@Copyright: Marta Boteller 2021</div>
  </body>
</html>
