<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <script src="dist/app.js" type="module"></script>
    <title>Top VSC Extensions List</title>
  </head>

  <body>
    <!--Begining navigation bar-->
    <nav class="navbar navbar" style="background-color: #d3e5f6">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <img
            src="/assets/resources/app_icon_circle.png"
            alt=""
            width="40"
            height="35"
          />
        </a>
        <h1 style="text-align: left; color: steelblue">TOP VSC Extensions</h1>

        <span class="navbar-text" style="padding-right: 4%">
          <a (click)="logOut()" style="text-decoration: none"
            ><h5 style="color: slategray">Log out</h5>
          </a>
        </span>
      </div>
    </nav>
    <!--End of top navigation bar-->
    <div class="container-fluid">
      <div style="text-align: right; padding: 3%">
        <h3>
          <a href="edit/new"
            ><i class="bi bi-plus-square" style="color: slategray"></i
          ></a>
        </h3>
      </div>
      <div class="card ml-3 mr-3 mb-3" *ngFor="let extension of extensions">
        <!--Row-->
        <div class="row ml-0 mr-0">
          <!--Column with icon-->
          <div class="col-sm-2 my-auto">
            <img
              class="img-fluid"
              style="border-radius: 50%; max-width: 30%; margin-left: 15%"
              src="/assets/images/{{ extension.extImg }}"
              alt="icon_image"
            />
          </div>
          <!--Column with extension name/author-->
          <div class="col-sm-8 my-auto">
            <p class="h3 mt-3" style="text-transform: uppercase">
              {{ extension.extName }}
            </p>
            <p class="h4-responsive" style="color: slategray">
              {{ extension.extAuthor }}
            </p>
          </div>
          <!--Column 'go to detail'-->
          <!--Pass id on the route-->
          <div class="col-sm-2 my-auto">
            <h2>
              <!--<a routerLink="/detail/{{ extension.id }}"-->
              <a (click)="goToDetails(extension.id)">
                <i
                  id="id"
                  class="bi bi-chevron-right"
                  style="color: slategray"
                ></i
              ></a>
            </h2>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
