<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="/dist/detail.js" type="module"></script>
    <title>Edit page</title>
  </head>
  <body>
    <!--Sidenav-->
    <nav class="navbar navbar" style="background-color: #d3e5f6">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <img
            src="/assets/resources/app_icon_circle.png"
            alt=""
            width="40"
            height="35"
          />
        </a>
        <h1 style="text-align: left; color: steelblue">TOP VSC Extensions</h1>
        <span class="navbar-text">
          <h2>
            <a href="list"
              ><i class="bi bi-chevron-left" style="color: slategray"></i
            ></a>
          </h2>
        </span>
      </div>
    </nav>
    <!--Extension title-->
    <form [formGroup]="editForm">
      <div id="titlesection" class="form-group">
        <input
          type="text"
          class="form-control"
          id="name"
          placeholder="Extension name"
          formControlName="name"
          [class.is-invalid]="
            editForm.get('name').invalid &&
            (editForm.get('name').touched || editForm.get('name').dirty)
          "
        />
        <div
          *ngIf="
            editForm.get('name').invalid &&
            (editForm.get('name').touched || editForm.get('name').dirty)
          "
        >
          <small
            *ngIf="editForm.get('name').errors?.required"
            class="text-danger"
            >Extension name is required</small
          >
        </div>
      </div>
      <!--Author-->
      <div id="authorsection" class="form-group">
        <input
          type="text"
          class="form-control"
          id="author"
          placeholder="Author"
          formControlName="author"
          [class.is-invalid]="
            editForm.get('author').invalid &&
            (editForm.get('author').touched || editForm.get('author').dirty)
          "
        />
        <div
          *ngIf="
            editForm.get('author').invalid &&
            (editForm.get('author').touched || editForm.get('author').dirty)
          "
        >
          <small
            *ngIf="editForm.get('author').errors?.required"
            class="text-danger"
            >Extension author is required</small
          >
        </div>
      </div>
      <!--Email-->
      <div id="emailsection" class="form-group">
        <input
          type="email"
          class="form-control"
          id="email"
          placeholder="Email"
          formControlName="email"
          [class.is-invalid]="
            editForm.get('email').invalid &&
            (editForm.get('email').touched || editForm.get('email').dirty)
          "
        />
        <div
          *ngIf="
            editForm.get('email').invalid &&
            (editForm.get('email').touched || editForm.get('email').dirty)
          "
        >
          <small
            *ngIf="editForm.get('email').errors?.required"
            class="text-danger"
            >Author email is required</small
          >
          <small *ngIf="editForm.get('email').errors?.email" class="text-danger"
            >Please provide a valid email address</small
          >
        </div>
      </div>
      <!--Image section-->
      <div id="imagesection" imclass="img-container">
        <img
          id="image"
          src="/assets/images/default_extImage.png"
          alt="extension image"
        />
      </div>
      <!--Description-->
      <div id="descriptionsection" class="form-group">
        <textarea
          type="textarea"
          class="form-control"
          id="description"
          rows="5"
          formControlName="description"
          [class.is-invalid]="
            editForm.get('description').invalid &&
            (editForm.get('description').touched ||
              editForm.get('description').dirty)
          "
        ></textarea>
        <div
          *ngIf="
            editForm.get('description').invalid &&
            (editForm.get('description').touched ||
              editForm.get('description').dirty)
          "
        >
          <small
            *ngIf="editForm.get('description').errors?.required"
            class="text-danger"
            >Description is required</small
          >
        </div>
      </div>
      <!-- Downloads & Rating row-->
      <div class="row">
        <div id="downloadssection" class="col">
          <div class="form-group">
            <label>Downloads:</label>
            <input
              type="number"
              id="downloads"
              class="form-control"
              formControlName="downloads"
              [class.is-invalid]="
                editForm.get('downloads').invalid &&
                (editForm.get('downloads').touched ||
                  editForm.get('downloads').dirty)
              "
            />
          </div>
          <div
            *ngIf="
              editForm.get('downloads').invalid &&
              (editForm.get('downloads').touched ||
                editForm.get('downloads').dirty)
            "
          >
            <small
              *ngIf="editForm.get('downloads').errors?.required"
              class="text-danger"
              >Number of downloads is required</small
            >
          </div>
        </div>
        <div id="ratingsection" class="col">
          <div class="form-group">
            <label>Rating:</label>
            <input
              type="number"
              id="rating"
              class="form-control"
              formControlName="rating"
              [class.is-invalid]="
                editForm.get('rating').invalid &&
                (editForm.get('rating').touched || editForm.get('rating').dirty)
              "
            />
          </div>
          <div
            *ngIf="
              editForm.get('rating').invalid &&
              (editForm.get('rating').touched || editForm.get('rating').dirty)
            "
          >
            <small
              *ngIf="editForm.get('rating').errors?.required"
              class="text-danger"
              >Rating is required</small
            >
          </div>
        </div>
      </div>
      <!--Favorite check-->
      <div id="favoritesection" class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="favorite"
          formContolName="favorite"
          (change)="onCheckboxChange($event)"
        />
        <label class="form-check-label" for="flexCheckDefault">
          Favorite
        </label>
      </div>
      <!--Save button-->
      <div id="savesection" class="row">
        <button
          type="button"
          id="savebutton"
          class="btn btn-secondary btn-lg"
          (click)="saveForm()"
        >
          Save
        </button>
      </div>
    </form>
    <!--Footer-->
    <div id="footersection" class="footer">@Copyright: Marta Boteller 2021</div>
  </body>
</html>
